@page "{id}"
@model CarMarketplace.Pages.Application.EditAdvertisementModel
@{
    ViewData["Title"] = "Редактирование объявления";
}

<h1 class="display-6 mb-3">Редактировать объявление</h1>
<form method="post">
    <div class="form-floating mb-3">
        <input type="text" class="form-control" name="make" asp-for="Make" value="@Model.Make">
        <label for="make">Марка</label>
        <span asp-validation-for="Make"></span>
    </div>    
    <div class="form-floating mb-3">
        <input type="text" class="form-control" name="model" asp-for="Model" value="@Model.Model">
        <label for="name">Модель</label>
        <span asp-validation-for="Model"></span>
    </div>   
    <div class="form-floating mb-3">
        <input type="text" class="form-control" name="yearOfManufacture" asp-for="YearOfManufacture" value="@Model.YearOfManufacture">
        <label for="yearOfManufacture">Год выпуска</label>
        <span asp-validation-for="YearOfManufacture"></span>
    </div>   
    <div class="form-floating mb-3">
        <input type="text" class="form-control" name="enginePower" asp-for="EnginePower" value="@Model.EnginePower">
        <label for="enginePower">Мощность двигателя, л.с.</label>
        <span asp-validation-for="EnginePower"></span>
    </div>   
    <label class="mb-3">Выберите тип трансмиссии</label>
    <div class="form-floating mb-3">    
        <select class="form-select" asp-for="@Model.Transmission" asp-items="Html.GetEnumSelectList(Model.Transmission.GetType())">

        </select>
    </div>   
    <label class="mb-3">Выберите тип машины</label>
    <div class="form-floating mb-3">     
        <select class="form-select" asp-for="@Model.Type" asp-items="Html.GetEnumSelectList(Model.Type.GetType())">

        </select>    
    </div>
    <div class="form-floating mb-3">
        <input type="text" class="form-control" name="kilometrage" asp-for="Kilometrage" value="@Model.Kilometrage">
        <label for="kilometrage">Пробег</label>    
        <span asp-validation-for="Kilometrage"></span>
    </div>  
    <div class="form-floating mb-3">
        <textarea class="form-control" name="description" rows="3" asp-for="Description">
            
        </textarea>
        <label for="description">Описание</label>
    </div>
    <div class="form-floating mb-3">
        <input type="text" class="form-control" name="price" asp-for="Price" value="@Model.Price">
        <label for="price">Цена, руб.</label>
        <span asp-validation-for="Price"></span>
    </div>
    <button type="submit" class="btn btn-primary">Сохранить</button>
</form>