@page
@model CarMarketplace.Pages.Application.ProfileModel
@{
    ViewData["Title"] = "Профиль";
    ViewData["ID"] = HttpContext.User.FindFirst("ID").Value;
}

<h1 class="display-6 mb-3">Профиль</h1>
<label class="mb-3">Номер аккаунта - @ViewData["ID"]</label>
<form method="post" class="mb-3">
    <div class="form-text mb-3">
        <label for="name">Имя</label>
        <input type="text" class="form-control" name="name" asp-for="Name" value="@Model.User.Name">       
        <span asp-validation-for="Name"></span>
    </div>    
    <div class="form-text mb-3">
        <label for="city">Город</label>
        <input type="text" class="form-control" name="city" asp-for="City" value="@Model.User.City">       
        <span asp-validation-for="City"></span>
    </div>   
    <div class="form-text mb-3">
        <label for="city">Номер телефона</label>
        <input type="tel" class="form-control" name="phone" asp-for="Phone" value="@Model.User.Phone">       
        <span asp-validation-for="Phone"></span>
    </div>    
    <div class="form-text mb-3">
        <label for="email">Почта</label>
        <input type="email" class="form-control" name="email" asp-for="Email" value="@Model.User.Email">      
        <span asp-validation-for="Email"></span>
    </div>    
    <div class="form-text mb-3">
        <label for="password">Пароль</label>
        <input type="password" class="form-control" name="password" asp-for="Password">     
        <span asp-validation-for="Password"></span>
    </div>
    <button type="submit" class="btn btn-primary">Сохранить</button>
</form>
<a class="btn btn-danger" asp-page="Logout">Выйти</a>